<!-- Teaser video-->
<section class="hero teaser" style="border: none !important; border-top: none !important; border-bottom: none !important; margin-top: -4rem; padding-top: 1rem; box-shadow: none !important; outline: none !important;">
  <div class="container is-max-desktop" style="border: none !important; box-shadow: none !important;">
    <div class="hero-body" style="padding-top: 1rem; border: none !important; box-shadow: none !important;">
      <img style="width: 80%; display: block; margin: 0 auto; padding-bottom: 30px; border: none !important; box-shadow: none !important; outline: none !important;" src="static/images/311.png" alt="Research framework diagram">
      <h2 class="subtitle has-text-centered">
        We propose a comprehensive framework for evaluating vision-based tactile sensors, systematically comparing performance across design properties and sensing performance. In this paper, we showcase our framework against four representative VBTS (ViTacTip, MagicTac, GelSight, GelSightWM).      </h2>
    </div>
  </div>
</section>
<!-- End teaser video --> 